.nano-button {
  --nano-button-font-weight: var(--nano-font-weight-primary);
  --nano-button-border-color: var(--nano-border-color);
  --nano-button-bg-color: var(--nano-fill-color-blank);
  --nano-button-text-color: var(--nano-text-color-regular);
  --nano-button-disabled-text-color: var(--nano-disabled-text-color);
  --nano-button-disabled-bg-color: var(--nano-fill-color-blank);
  --nano-button-disabled-border-color: var(--nano-border-color-light);
  --nano-button-hover-text-color: var(--nano-color-primary);
  --nano-button-hover-bg-color: var(--nano-color-primary-light-9);
  --nano-button-hover-border-color: var(--nano-color-primary-light-7);
  --nano-button-active-text-color: var(--nano-button-hover-text-color);
  --nano-button-active-border-color: var(--nano-color-primary);
  --nano-button-active-bg-color: var(--nano-button-hover-bg-color);
  --nano-button-outline-color: var(--nano-color-primary-light-5);
  --nano-button-active-color: var(--nano-text-color-primary);
}

.nano-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--nano-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: .1s;
  font-weight: var(--nano-button-font-weight);
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--nano-button-bg-color);
  border: var(--nano-border);
  border-color: var(--nano-button-border-color);
  padding: 8px 15px;
  font-size: var(--nano-font-size-base);
  border-radius: var(--nano-border-radius-base);

  &+& {
    margin-left: 12px;
  }

  &:hover,
  &:focus {
    color: var(--nano-button-hover-text-color);
    border-color: var(--nano-button-hover-border-color);
    background-color: var(--nano-button-hover-bg-color);
    outline: none;
  }

  &:active {
    color: var(--nano-button-active-text-color);
    border-color: var(--nano-button-active-border-color);
    background-color: var(--nano-button-active-bg-color);
    outline: none;
  }

  &.is-plain {
    --nano-button-hover-text-color: var(--nano-color-primary);
    --nano-button-hover-bg-color: var(--nano-fill-color-blank);
    --nano-button-hover-border-color: var(--nano-color-primary);
  }

  &.is-round {
    border-radius: var(--nano-border-radius-round);
  }

  &.is-circle {
    border-radius: 50%;
    padding: 8px;
  }

  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    color: var(--nano-button-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
    background-color: var(--nano-button-disabled-bg-color);
    border-color: var(--nano-button-disabled-border-color);
  }

  [class*=nano-icon]+span {
    margin-left: 6px;
  }
}
@each $val in primary,success,warning,info,danger {
  .nano-button--$(val) {
    --nano-button-text-color: var(--nano-color-white);
    --nano-button-bg-color: var(--nano-color-$(val));
    --nano-button-border-color: var(--nano-color-$(val));
    --nano-button-outline-color: var(--nano-color-$(val)-light-5);
    --nano-button-active-color: var(--nano-color-$(val)-dark-2);
    --nano-button-hover-text-color: var(--nano-color-white);
    --nano-button-hover-bg-color: var(--nano-color-$(val)-light-3);
    --nano-button-hover-border-color: var(--nano-color-$(val)-light-3);
    --nano-button-active-bg-color: var(--nano-color-$(val)-dark-2);
    --nano-button-active-border-color: var(--nano-color-$(val)-dark-2);
    --nano-button-disabled-text-color: var(--nano-color-white);
    --nano-button-disabled-bg-color: var(--nano-color-$(val)-light-5);
    --nano-button-disabled-border-color: var(--nano-color-$(val)-light-5);
  }
  .nano-button--$(val).is-plain {
    --nano-button-text-color: var(--nano-color-$(val));
    --nano-button-bg-color: var(--nano-color-$(val)-light-9);
    --nano-button-border-color: var(--nano-color-$(val)-light-5);
    --nano-button-hover-text-color: var(--nano-color-white);
    --nano-button-hover-bg-color: var(--nano-color-$(val));
    --nano-button-hover-border-color: var(--nano-color-$(val));
    --nano-button-active-text-color: var(--nano-color-white);
  }
}

.nano-button--large {
  --nano-button-size: 40px;
  height: var(--nano-button-size);
  padding: 12px 19px;
  font-size: var(--nano-font-size-base);
  border-radius: var(--nano-border-radius-base);
}
.nano-button--small {
  --nano-button-size: 24px;
  height: var(--nano-button-size);
  padding: 5px 11px;
  font-size: 12px;
  border-radius: calc(var(--nano-border-radius-base) - 1px);
}
